    .box {
        background-color: rgb(32, 13, 49);
        width: 17.5rem;
        height: 17.5rem;
        border-radius: 0.33rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sky {
        position: relative;
        background-color: #7DDFFC;
        aspect-ratio: 1 / 1;
        width: 10rem;
        border-radius: 50%;
        clip-path: circle(5rem at 5rem 5rem);
        animation: dark;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        opacity: 0;
    }
    
    .ground {
        height: 60px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #F0DE75;
    }
    
    .sun {
        position: absolute;
        top: 1rem;
        left: -2rem;
        background-color: #FFEF00;
        aspect-ratio: 1 / 1;
        width: 2rem;
        border-radius: 50%;
        animation: sun;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    
    @keyframes dark {
        10% {
            opacity: 1;
        }
        85% {
            opacity: 1;
        }
    }
    
    @keyframes sun {
        from {
            top: 2.5rem;
            left: -2rem;
        }
        10% {
            top: 1rem;
            left: 1rem;
        }
        30% {
            top: 1rem;
            left: 1rem;
        }
        50% {
            top: 0rem;
        }
        100% {
            top: 1.5rem;
            left: 9rem;
        }
    }