.box {
    width: 17.5rem;
    height: 17.5rem;
    border-radius: 0.33rem;
    background: linear-gradient(45deg, #43389F 0%, #4ec6ca 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numbers {
    display: flex;
    flex-direction: row;
}

.number {
    margin: 0 -0.5rem -1.5rem -0.5rem;
    font-size: 6.5rem;
}

p {
    color: white;
    font-weight: bold;
    font-family: "Courier New", "Courier", sans-serif;
}

.DAYS {
    font-size: 3.5rem;
}

.CSS-CHALLENGE {
    font-size: 1.1rem;
}

.item {
    margin: -0.5rem 0 -0.5rem 0;
}