.box {
    background-color: #E56262;
    width: 17.5rem;
    height: 17.5rem;
    border-radius: 0.33rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    background-color: white;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: 4px 5px 15px gray;
}

.circle-1 {
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-2 {
    width: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-3 {
    width: 3rem;
}